<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--parallel parameter is used for parallel excution-->
<suite name="All Test Suite" thread-count="5" parallel="tests">

<!--    for chrome browser-->
    <test name="Chrome Test" verbose="2" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestNG.Dataproviders_and_parallel_testing.ParallelTest">
                <methods>
                    <include name="Test_logo"/>
                    <include name="test_title"/>
                    <include name="test_url"/>
                    <include name="down"/>
                </methods>
            </class>
        </classes>
    </test>

<!--    for edge browser-->
    <test name="Edge Test" verbose="2" preserve-order="true">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="TestNG.Dataproviders_and_parallel_testing.ParallelTest">
                <methods>
                    <include name="Test_logo"/>
                    <include name="test_title"/>
                    <include name="test_url"/>
                    <include name="down"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>